
/* General */

* {font-family: 'Titillium Web', Verdana, Arial, sans-serif;
}

html {box-sizing: border-box; border-collapse: collapse;
}

body {display:block;
      width: 100%;
      min-height: 100vh;
      margin: 0%;
      padding: 0%;
      background-color: #EEE;
      color: #333;
}

/* Mobile first*/

@media only screen and (max-width: 600px) {

  [class*="col-"] {width: 100%;}


  h1 {font-size: 5vw;
      font-weight: bold;
   }

  h2 {font-size: 1.5em;
      font-weight: bold;
  }

  h3 {font-size: 1.25em;
      font-weight: bold;
  }

  h4 {font-size: 1.1em;
      font-weight: bold;
  }

  h5 {font-size: 1.05em;
      font-weight: bold;
  }

  a {text-decoration: none;}

  hr {width: 100%;
      border-color: #FFFFFF;
  }

  header {position: sticky;
          top: 0%;
          left: 0%;
          display: block;
          width: 100%;
          height: auto;
          background-image: linear-gradient(to right,rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/brandevoort-strip.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          z-index: 100;
  }

  #title {display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: auto;
  }

  #title h1 {display: inline-block;
            margin: 0%;
            padding: 5vw;
            color: #FFF;
  }

  #subtitle {display: none;
  }

  #primary {display: none}

  #secundary {position: relative;
            display: inline-block;
            margin: 0%;
            padding: 0%;
  }

  #secundary input:checked ~ #hamburger-items {display: block;
  }

  #secundary label {display: inline-block;
                    background-color: transparent;
                    font-size: 7.5vw;
                    color: white;
                    padding: 2.5vw;
  }

  #hamburger {display: none;
  }

  #mega {display: none;
  }

  #hamburger-items {position: absolute;
                    left: 0%;
                    display: none;
                    width: 100vw;
                    background-color: #00000099;
  }

  #hamburger-items a {display: block;
                      padding: 1vmax 0%;
                      color: white;
                      font-size: 1.15em;
                      font-weight: bold;
                      text-decoration: none;
                      text-align: center;
                      width: 100%;
  }

  #hamburger-items a:hover {background-color: #FFF;
                            color: #000;
  }

  #left ul {list-style-type: none;
            padding-inline-start: 20px;
            font-style: italic;
  }

  #main {background-color: #FFF;
  }

  img {display: block;
      max-width: 300px;
      height: auto;
  }

  footer {background-color: #666;
          overflow: auto;
  }

}

/* Landscape & large phones */

@media only screen and (min-width: 600px) {

  [class*="col-"] {width: 100%;}


  h1 {font-size: 5vw;
      font-weight: bold;
   }

  h2 {font-size: 1.5em;
      font-weight: bold;
  }

  h3 {font-size: 1.25em;
      font-weight: bold;
  }

  h4 {font-size: 1.1em;
      font-weight: bold;
  }

  h5 {font-size: 1.05em;
      font-weight: bold;
  }

  a {text-decoration: none;}

  hr {width: 100%;
      border-color: #FFFFFF;
  }

  header {position: sticky;
          top: 0%;
          left: 0%;
          display: block;
          width: 100%;
          height: auto;
          background-image: linear-gradient(to right,rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/brandevoort-strip.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          z-index: 100;
  }

  #title {display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: auto;
  }

  #title h1 {display: inline-block;
            margin: 0%;
            padding: 5vw;
            color: #FFF;
  }

  #title p {color: #FFF;}

  #subtitle {display: none;
  }

  #primary {display: none}

  #secundary {position: relative;
            display: inline-block;
            margin: 0%;
            padding: 0%;
  }

  #secundary input:checked ~ #hamburger-items {display: block;
  }

  #secundary label {display: inline-block;
                    background-color: transparent;
                    font-size: 7.5vw;
                    color: white;
                    padding: 2.5vw;
  }

  #hamburger {display: none;
  }

  #mega {display: none;
  }

  #hamburger-items {position: absolute;
                    left: 0%;
                    display: none;
                    width: 100vw;
                    background-color: #00000099;
  }

  #hamburger-items a {display: block;
                      padding: 1vmax 0%;
                      color: white;
                      font-size: 1.15em;
                      font-weight: bold;
                      text-decoration: none;
                      text-align: center;
                      width: 100%;
  }

  #hamburger-items a:hover {background-color: #FFF;
                            color: #000;
  }

  #left ul {list-style-type: none;
            padding-inline-start: 20px;
            font-style: italic;
  }

  #main {background-color: #FFF;
  }

  img {display: block;
      max-width: 500px;
      height: auto;
  }

  footer {background-color: #666;
          overflow: auto;
  }

}

/* Landscape & large phones */

@media only screen and (min-width: 768px) {


  img {display: block;
      max-width: 660px;
      height: auto;
  }

}

@media only screen and (min-width: 992px) {

  [class*="col-"] {float: left;
                  padding: 15px;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .row::after {
  content: "";
  clear: both;
  display: table;
  }

  header  {position: static;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          max-width: 100vw;
          height: 60vh;
          background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/Brandevoort.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          transition: all 0.5s;
          z-index: 100;

  }

  #primary {position: relative;
            display: inline-block;
            margin: 0%;
            padding: 2.5%;
  }

  #primary input:checked ~ #hamburger-items {display: block;
  }

  #primary label {display: inline-block;
                    background-color: transparent;
                    font-size: 5vw;
                    color: white;
                    padding: 2.5vw;
  }

  #secundary {display: none}

  #title {display: inline-flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-content: flex-end;
          width: 90%;
          height: 80%;
          min-height: 420px;
  }

  #title h1 {display: inline-block;
            font-size: 7vw;
            margin: 0%;
            padding: 6vw 0vw;
  }

  #subtitle {display: block;
  }

  #subtitle p {font-size: 2vw;
  }

  img {display: block;
      max-width: 700px;
      height: auto;
  }

}

@media only screen and (min-width: 1200px) {

  [class*="col-"] {float: left;
                  padding: 15px;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .row::after {
  content: "";
  clear: both;
  display: table;
  }

  p       {font-size: 1vw;
  }

  header  {position: static;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          max-width: 100vw;
          height: 60vh;
          background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/Brandevoort.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          transition: all 0.5s;
          z-index: 100;

  }

  #primary {position: relative;
            display: inline-block;
            margin: 0%;
            padding: 2.5%;
  }

  #primary input:checked ~ #hamburger-items {display: flex;
  }

  #primary label {display: inline-block;
                    background-color: transparent;
                    font-size: 5vw;
                    color: white;
                    padding: 2.5vw;
  }

  #secundary {display: none}

  #title h1 {display: inline-block;
            font-size: 6vw;
            margin: 0%;
            padding: 5vw 5vw 2vw 5vw;
  }

  #subtitle {display: block;
  }

  #subtitle p {font-size: 2vw;
  }

  #hamburger-items {position: absolute;
                    display: none;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    height: auto;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #000;
                    overflow: hidden;
  }

  #hamburger-items a {display: inline-block;
                      min-width: 5vw;
                      height: auto;
                      margin: 0%;
                      padding: 3%;
                      font-size: 1.5vw;
  }

  img {display: block;
      max-width: 800px;
      height: auto;
  }

}
